<%= link_to 'Start Task', new_task_attempt_path(@task) %>
<%= link_to "Back to List", tasks_path %>

<h1><%= @task.name %></h1>
<%= simple_format(@task.description) %>

<h3>Attempts</h3>
<li>
<%= render @task.attempts.presence || "empty_list" %>
</li>
