<%= form_for [:admin, task] do |f| %>
  <%= render 'shared/errors', object: task %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :template %>
    <%= f.text_area :template %>
  </div>

  <div>
    <p><strong>Solutions:</strong></p>

    <div id="solutions">
      <%= f.fields_for :solutions do |solution| %>
        <%= render 'solution_fields', f: solution %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add solution', f, :solutions %>
      </div>
    </div>
  </div>

  <%= f.submit %>
  <%= link_to 'Cancel', admin_tasks_path %>
<% end %>
