<%= link_to 'Edit Task', edit_admin_task_path(@task) %>
<%= link_to "Remove Task", admin_task_path(@task), method: :delete, data: { confirm: "You sure?" } %>
<%= link_to "Back to List", admin_tasks_path %>

<h1><%= @task.name %></h1>
<%= simple_format(@task.description) %>
<%= CodeRay.scan(@task.template, :c).div.html_safe %>

<h3>Solutions</h3>
<ul>
<%= render @task.solutions.presence || "empty_list" %>
</ul>
