<%= link_to 'Edit Task', edit_admin_task_path(@task) %>
<%= link_to "Remove Task", admin_task_path(@task), method: :delete, data: { confirm: "You sure?" } %>
<%= link_to "Back to List", admin_tasks_path %>

<%= @task.name %><br/>
<%= @task.description %><br/>
<%= CodeRay.scan(@task.template, :c).div.html_safe %>

Solutions<br/>
<table>
<%= render @task.solutions.presence || "empty_list" %>
</table>
