<%= form_for [:task, attempt] do |f| %>
  <%= render 'shared/errors', object: attempt %>

  <div>
    <%= f.label :code %>
    <%= f.text_area :code %>
  </div>

  <%= f.submit %>
  <%= link_to 'Cancel', task_path(attempt.task) %>
<% end %>
